<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <title>K.Maraş Kamu Turnuva</title>
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" width="64" height="64" href="~/logo.png" alt="external-tournament-soccer-konkapp-outline-color-konkapp" />
    <link rel="stylesheet" href="~/assets/css/fontawesome.css">
    <link rel="stylesheet" href="~/assets/css/templatemo-574-mexant.css">
    <link rel="stylesheet" href="~/assets/css/owl.css">
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
    <header class="header-area header-sticky background-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">

                        <a href="/" class="logo">
                            <img src="~/assets/images/logo2.png" alt="">
                        </a>

                        <ul class="nav">

                            <li class="scroll-to-section"><a href="/">Anasayfa</a></li>
                             <li class="has-sub">
                               <a href="javascript:void(0)">Tertip Komitesi</a>
                                <ul class="sub-menu" style="width: 220px;">
                                    <li><a style="font-size: 10px;" href="/tertipkurulu">Tertip Komitesi Kurulu</a></li>
                                    <li><a style="font-size: 10px;" href="/dısıplınkurulu">Disiplin Kurulu</a></li>
                                </ul>
                            </li>
                            <li class="has-sub">
                                <a href="/">Başvurular</a>
                                <ul class="sub-menu" style="width: 220px;">
                                    <li><a href="/bireyselbasvuru">Bireysel Üyelik</a></li>
                                    <li><a href="/takımbasvuru">Takım Üyeliği</a></li>
                                </ul>
                            </li>
                           <span></span>
                            <li class="">
                                <a href="/kurallar">Kurallar</a>
                            </li>
                            <li class="has-sub">
                                <a href="/">Şikayet</a>
                                <ul class="sub-menu" style="width: 220px;">
                                    <li><a href="/sıkayetet">Şikayet'te Bulun</a></li>
                                    <li><a href="/sıkayettakıp">Şikayet Sonuçları</a></li>
                                </ul>
                            </li>
                            <li class="scroll-to-section"><a href="/ıletısım">İletişim</a></li>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    @RenderBody()

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>TÜM HAKLARI <a target="_blank" href="https://www.hexaops.net/"><img style="width: 70px;" src="assets/images/HEXAOPS LLC-LOGO.png"></a>TARAFINCA SAKLIDIR.</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="~/assets/js/isotope.min.js"></script>
    <script src="~/assets/js/owl-carousel.js"></script>

    <script src="~/assets/js/tabs.js"></script>
    <script src="~/assets/js/swiper.js"></script>
    <script src="~/assets/js/custom.js"></script>
    <script>
        var interleaveOffset = 0.5;

        var swiperOptions = {
            loop: true,
            speed: 1000,
            grabCursor: true,
            watchSlidesProgress: true,
            mousewheelControl: true,
            keyboardControl: true,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev"
            },
            on: {
                progress: function () {
                    var swiper = this;
                    for (var i = 0; i < swiper.slides.length; i++) {
                        var slideProgress = swiper.slides[i].progress;
                        var innerOffset = swiper.width * interleaveOffset;
                        var innerTranslate = slideProgress * innerOffset;
                        swiper.slides[i].querySelector(".slide-inner").style.transform =
                            "translate3d(" + innerTranslate + "px, 0, 0)";
                    }
                },
                touchStart: function () {
                    var swiper = this;
                    for (var i = 0; i < swiper.slides.length; i++) {
                        swiper.slides[i].style.transition = "";
                    }
                },
                setTransition: function (speed) {
                    var swiper = this;
                    for (var i = 0; i < swiper.slides.length; i++) {
                        swiper.slides[i].style.transition = speed + "ms";
                        swiper.slides[i].querySelector(".slide-inner").style.transition =
                            speed + "ms";
                    }
                }
            }
        };

        var swiper = new Swiper(".swiper-container", swiperOptions);
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
