@page
@model Tournament.Views.Home.applicationModel
@{
}
<style>
.card {
      margin-top: 50px;
      margin-bottom: 50px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .card-body {
      padding: 20px;
    }
    .form-group {
      margin-bottom: 20px;
    }
    .form-control {
      border-radius: 5px;
      height: 40px;
      padding: 10px;
    }
    .btn {
      border-radius: 5px;
      padding: 10px 20px;
        background-color: #212529;
      color: #fff;
      border: none;
      cursor: pointer;
    }
    .btn:hover {
      background-color: #3e8e41;
    }
  </style>
  <br />
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="text-center">Üyelik Sayfası</h2>
          <form>
            <div class="form-group row">
              <div class="col-md-6">
                <label for="isim">İsim:</label>
                <input type="text" id="isim" name="isim" class="form-control">
              </div>
              <div class="col-md-6">
                <label for="soyisim">Soyisim:</label>
                <input type="text" id="soyisim" name="soyisim" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6">
                <label for="calistigi-yer">Çalıştığı yer:</label>
                <input type="text" id="calistigi-yer" name="calistigi-yer" class="form-control">
              </div>
              <div class="col-md-6">
                <label for="evrak-yukleme">Evrak yükleme:</label>
                <input type="file" id="evrak-yukleme" name="evrak-yukleme" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6">
                <label for="adres">Adres:</label>
                <input type="text" id="adres" name="adres" class="form-control">
              </div>
              <div class="col-md-6">
                <label for="telefon-numarasi">Telefon numarası:</label>
                <input type="text" id="telefon-numarasi" name="telefon-numarasi" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" class="form-control">
              </div>
              <div class="col-md-6">
                <label for="sifre">Şifre:</label>
                <input type="password" id="sifre" name="sifre" class="form-control">
              </div>
            </div>
            <button type="submit" class="btn btn-block">Üyelik oluştur</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>