@{
    ViewData["Title"] = "Rules";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
    <title>K.Maraş Kamu Turnuva</title>
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" width="64" height="64" href="/logo.png" alt="external-tournament-soccer-konkapp-outline-color-konkapp">
    <link rel="stylesheet" href="/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/assets/css/templatemo-574-mexant.css">
    <link rel="stylesheet" href="/assets/css/owl.css">
    <link rel="stylesheet" href="/assets/css/animate.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<br />
<section class="service-details" style="margin-bottom:212px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                    <h4>KURALLAR</h4>
                </div>
            </div>
            <div class="col-lg-10 offset-lg-1">
                <div class="naccs">
                    <div class="tabs">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="menu">
                                    <div class="active gradient-border"><span>Maç Kuralları</span></div>
                                    <div class="gradient-border"><span>Turnuva Kuralları</span></div>
                                    <div class="gradient-border"><span>Disiplin Kuralları</span></div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <ul class="nacc">
                                    <li class="active">
                                        <div>
                                            <div class="right-content">
                                                <h4>Katılım Şartları<I></I></h4>
                                                <p>
                                                    Kahramanmaraş ili dahilinde bütün kurumlar turnuvaya katılabilecektir. Aynı kurumdan birden fazla takım katılabilir.
                                                    Takımlar 7 as (6 oyuncu + 1 kaleci) ve 7 yedek olmak üzere en fazla toplam 14 kişiden oluşacaktır.
                                                    Takım oyuncu listeleri, ilgili amirleri tarafından ıslak imzalı ve onaylı olarak başvuru esnasında tebliğ edilecektir.
                                                    Her oyuncunun kurum kimliği fotokopisi, başvuru esnasında tebliğ edilecektir.
                                                    Takım isim listelerinde her oyuncunun TC kimlik numarası ve forma numarası yazacaktır.
                                                    Geçici personel durumda olan çalışanlar turnuvaya katılamazlar.
                                                    Turnuvaya katılım ücreti ……………………. TL olup TR……………………. IBAN’a gönderilecek, dekont tebliğ edilecektir.
                                                    İstenilen evrakların eksik olması durumunda başvuru kabul edilmeyecektir.

                                                </p>

                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <div class="col-lg-12">
                                                <ul class="nacc">
                                                    <li class="active">
                                            <div class="left-image">
                                                <img src="assets/images/service-details-02.jpg" alt="">
                                            </div>
                                            <div class="right-content">
                                                <h4>Turnuva ve Müsabaka Kuralları<I></I></h4>
                                                <p>
                                                    2.1)	Maçlar hali hazırda geçerli olan TFF futbol standartları ve müsabaka kurallarına göre yönetilecektir
                                                    2.2)      Her maç oyun kurallarını uygulamada tam yetkili olarak Kahramanmaraş TFF İl
                                                    Hakem kurulunca atanan bir hakem tarafından yönetilir.
                                                    2.3)	Maçlar 25’er dakikalık iki devre şeklinde oynanacak olup devre arası 5 dakikadır.
                                                    2.4)	Takımlar her maç için 7 as ve 4 yedek oyuncu belirleyecek, 3 seferde 4 değişiklik yapılabilecektir.
                                                    2.5)	Ofsayt ve taç atışı uygulanmayacak olup kaleciye geri pas kuralı uygulanacaktır.
                                                    2.6)	Serbest vuruşlarda baraj mesafesi 5 metredir.
                                                    2.7)	Grup aşamasında aynı puana sahip takımların oluşması halinde öncelik sırasına göre;

                                                    - Kendi aralarında yaptıkları maç
                                                    - Gol averajı
                                                    - Atılan gol
                                                    - Takımların gördüğü kart sayısı (öncelik kırmızı kart)

                                                    durumlarına bakılarak sıralama belirlenir.
                                                    2.8)	Eleme maçlarında beraberlik olması halinde doğudan 5’erli penaltılar, eşitliğin yine bozulmaması halinde seri penaltılara geçilerek bir üst tura çıkan takım belirlenecektir.
                                                    2.9)*	İlk kura çekiminde katılım sayısı ve Kurumlar Arası 1. Futbol Turnuvası esas alınarak seri başı belirlenecek ve buna göre kura çekimi yapılacaktır.
                                                    2.10)*	Grup aşamasında ilk 2 sırayı alan takımlar bir üst tura yükselecektir. Grup birincisi sonraki turun kura çekiminde seri başı olacaktır.
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <div class="col-lg-12">
                                                <ul class="nacc">
                                                    <li class="active">
                                            <div class="left-image">
                                                <img src="assets/images/service-details-03.jpg" alt="">
                                            </div>
                                            <div class="right-content">
                                                <h4>Disiplin Kuralları<I></I></h4>
                                                <p>
                                                    3.1)	Çift sarı karttan ihraç edilen oyuncu 1 maç cezalı duruma düşecektir. Doğrudan kırmızı kartta ise en az 1 maç olmak üzere disiplin kurulunun vereceği karar doğrultusunda cezalı duruma düşecektir. Kurul, oyuncuya turnuvadan men cezası da verebilir.
                                                    3.2)	Takım halinde sportmenliğe aykırı davranışlarda, disiplin kurulu takımı turnuvadan ihraç edebilir.
                                                    3.3)	Bir oyuncunun farklı maçlarda alacağı toplam 3 sarı kart için bir maç ceza verilecektir.
                                                    3.4)	Maçta oynayacak oyuncu listesi her maç öncesi takım kaptanı veya temsilcisi tarafından doldurularak tertip komitesine teslim edilecektir.
                                                    3.5)	Komiteye ibraz edilen oyuncu listesinin dışında veya kurum dışından bir oyuncunun oynatılması halinde kural ihlalinde bulunan takım hükmen 3-0 yenilmiş sayılacaktır.
                                                    3.6)	Rakip takımın oyuncu listesine yapılacak itiraz, maçı takriben 24 saat içerisinde yazılı olarak dilekçe ile komiteye sunulacaktır. Komite durumu değerlendirip karara bağlayacaktır.
                                                    3.7)	Müsabaka için belirtilen saat ve tarihte sahaya çıkmayan veya 5 kişiden daha az oyuncu ile sahaya gelen takım hükmen 3-0 yenik sayılacaktır.
                                                    3.8)	5 veya 6 oyuncu ile maça başlayan takımın maç başladıktan sonra gelen oyuncusu, maça geldiği takdirde oyuna girebilecektir.
                                                    3.9)	Aynı renk formaya sahip iki takımın olması halinde, hakemin yapacağı kura atışı ile bir takım bip yelek giyecektir.
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
