@{
    ViewData["Title"] = "Home Page";
}
<div class="swiper-container" id="top">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="slide-inner" style="background-image:url(assets/images/slider1.jpeg)">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="header-text">
                                <h2>KAHRAMANMARAŞ <em>KAMU</em> FUTBOL TURNUVASI<br></h2>
                                <div class="div-dec"></div>
                                <div class="buttons">
                                    <div class="green-button">
                                        <a href="/iletisim">TAKIM ÜYELİĞİ</a>
                                    </div>
                                    @* <div class="orange-button">
                                        <a href="#">BİREYSEL ÜYELİK</a>
                                    </div> *@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="slide-inner" style="background-image:url(assets/images/slider2.jpeg)">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="header-text">

                                <BR></BR>
                                <BR></BR>
                                <BR></BR>
                                <BR></BR>
                                <BR></BR>

                                <div class="buttons">
                                    <div class="green-button">
                                        <a href="/kurallar">TURNUVA KURALLARI</a>
                                    </div>
                                    <div class="orange-button">
                                        <a href="/kurallar">MAÇ KURALLARI</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="slide-inner" style="background-image:url(assets/images/slider3.jpeg)">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="header-text">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="about-us" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                    <h6>HAkkımızda</h6>
                    <h4>BİZ KİMİZ</h4>
                </div>
            </div>
            <div class="col-lg-8">
            </div>
            <div class="col-lg-12">

                <div class="col-lg-4">
                    <div class="right-content">
                        <h4>KAHRAMANMARAŞ KAMU FUTBOL TURNUVASI</h4>
                        <p>2023 yılında 2 çalışan memur ile 1 halı saha sahibi tarafından Kamu Kurumları arası futbol turnuva yapma isteği ile başlayan bu sevda, düzenlenen turnuvadan çıkartılan dersler, dikkat edilmesi gereken hususlar ve daha eğlenceli olmasını sağlayacak bir düşünce ile yine 2 memur tarafından oluşturulmaya çalışan bir SOSYAL projenin adı  “MARAŞ KAMU TURNUVA” dır. Tek amacı insanların eğlenmesi, hobilerini başka kurumlarla bir araya gelerek hem tanışma, hem kaynama, hem de birlik beraberlik gücünü geliştirmek için kurulmuştur.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="service-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                    <h4>HABERLER</h4>
                </div>
            </div>
            <div class="col-lg-10 offset-lg-1">
                <div class="naccs">
                    <div class="tabs">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="menu">
                                    <div class="active gradient-border"><span>HABER 1</span></div>
                                    <div class="gradient-border"><span>HABER 2</span></div>
                                    <div class="gradient-border"><span>HABER 3</span></div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <ul class="nacc">
                                    <li class="active">
                                        <div>
                                            <div class="left-image">
                                                <img src="" alt="">HABER GÖRSELİ
                                            </div>
                                            <div class="right-content">
                                                <h4>HABER BAŞLIĞI<I></I></h4>
                                                <p>HABER AÇIKLAMA</p>

                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <div class="left-image">
                                                <img src="assets/images/service-details-02.jpg" alt="">
                                            </div>
                                            <div class="left-image">
                                                <img src="" alt="">HABER GÖRSELİ
                                            </div>
                                            <div class="right-content">
                                                <h4>HABER BAŞLIĞI<I></I></h4>
                                                <p>HABER AÇIKLAMA</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <div class="left-image">
                                                <img src="assets/images/service-details-03.jpg" alt="">
                                            </div>
                                            <div class="left-image">
                                                <img src="" alt="">HABER GÖRSELİ
                                            </div>
                                            <div class="right-content">
                                                <h4>HABER BAŞLIĞ<I></I></h4>
                                                <p>HABER AÇIKLAMA</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="testimonials" id="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                    <h6>GEÇMİŞ TIRNUVALARDAN</h6>
                    <h4>GÖRSELLER</h4>
                    <div class="swiper-slide">
                        <div class="slide-inner" style="background-image:url(assets/images/slider3.jpeg)">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="header-text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="partners">
    <div class="container">
        <div class="row">
        </div>
    </div>
</section>