@{
    ViewData["Title"] = "Rules";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<section class="service-details" style="margin-bottom:212px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                    <h4>KURALLAR</h4>
                </div>
            </div>
            <div class="col-lg-10 offset-lg-1">
                <div class="naccs">
                    <div class="tabs">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="menu">
                                    <div class="active gradient-border"><span>Maç Kuralları</span></div>
                                    <div class="gradient-border"><span>Turnuva Kuralları</span></div>
                                    <div class="gradient-border"><span>Disiplin Kuralları</span></div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <ul class="nacc">
                                    <li class="active">
                                        <div>
                                            <div class="right-content">
                                                <h4>Maç Kuralları<I></I></h4>
                                                <p>KURALLAR</p>

                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <div class="left-image">
                                                <img src="assets/images/service-details-02.jpg" alt="">
                                            </div>
                                            <div class="right-content">
                                                <h4>Turnuva Kuralları<I></I></h4>
                                                <p>KURALLAR</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <div class="left-image">
                                                <img src="assets/images/service-details-03.jpg" alt="">
                                            </div>
                                            <div class="right-content">
                                                <h4>Disiplin Kuralları<I></I></h4>
                                                <p>KURALLAR</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
