@{
    ViewData["Title"] = "Rules";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
    <title>K.Maraş Kamu Turnuva</title>
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" width="64" height="64" href="/logo.png" alt="external-tournament-soccer-konkapp-outline-color-konkapp">
    <link rel="stylesheet" href="/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/assets/css/templatemo-574-mexant.css">
    <link rel="stylesheet" href="/assets/css/owl.css">
    <link rel="stylesheet" href="/assets/css/animate.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<br />
<section class="service-details" style="margin-bottom:212px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                    <h4>KURALLAR</h4>
                </div>
            </div>
            <div class="col-lg-10 offset-lg-1">
                <div class="naccs">
                    <div class="tabs">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="menu">
                                    <div class="active gradient-border"><span>Tüm Şart ve Kurallar</span></div>
                                    <div class="gradient-border"><span>Disiplin Kuralları</span></div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <ul class="nacc">
                                    <li class="active">
                                        <div>
                                            <div class="right-content">
                                                <h4>Katılım Şartları<I></I></h4>
                                                <p>
                                                    Kahramanmaraş ili dahilinde bütün kurumlar turnuvaya katılabilecektir. Aynı kurumdan birden fazla takım katılabilir.
                                                    Takımlar 7 as (6 oyuncu + 1 kaleci) ve 7 yedek olmak üzere en fazla toplam 14 kişiden oluşacaktır.
                                                    Takım oyuncu listeleri, ilgili amirleri tarafından ıslak imzalı ve onaylı olarak başvuru esnasında tebliğ edilecektir.
                                                    Her oyuncunun kurum kimliği fotokopisi, başvuru esnasında tebliğ edilecektir.
                                                    Takım isim listelerinde her oyuncunun TC kimlik numarası ve forma numarası yazacaktır.
                                                    Geçici personel durumda olan çalışanlar turnuvaya katılamazlar.
                                                    Turnuvaya katılım ücreti ……………………. TL olup TR……………………. IBAN’a gönderilecek, dekont tebliğ edilecektir.
                                                    İstenilen evrakların eksik olması durumunda başvuru kabul edilmeyecektir.

                                                </p>

                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <div class="col-lg-12">
                                                <ul class="nacc">
                                                    <li class="active">
                                            <div class="left-image">
                                                <img src="assets/images/service-details-02.jpg" alt="">
                                            </div>
                                            <div class="right-content">
                                                <h4>Tüm Şart ve Kurallar<I></I></h4>
                                                <p>
                                                   
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <div class="col-lg-12">
                                                <ul class="nacc">
                                                    <li class="active">
                                            <div class="left-image">
                                                <img src="assets/images/service-details-03.jpg" alt="">
                                            </div>
                                            <div class="right-content">
                                                <h4>Disiplin Kuralları<I></I></h4>
                                                <p>
                                                    
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
