@page
@model Tournament.Views.Home.ykuruluModel
@{
}
<style>
    .yonetim-kurulu {
        text-align: center;
    }

    .uye {
        display: inline-block;
        margin: 20px;
        text-align: center;
    }

        .uye img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin-bottom: 10px;
        }

        .uye h2 {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .uye p {
            font-size: 14px;
            color: #666;
        }

    .alt-uyeler {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
</style>
<br />
<br />
<br />
<br />
<br />
<div class="yonetim-kurulu">
    <div class="uye">
        <img src="resim1.jpg" alt="Üye 1">
        <h2>İsim Soyisim</h2>
        <p>Ünvanı</p>
    </div>
    <br />
    <br />
    <br />
    <div class="alt-uyeler">
        <div class="uye">
            <img src="resim2.jpg" alt="Üye 2">
            <h2>İsim Soyisim</h2>
            <p>Ünvanı</p>
        </div>
        <div class="uye">
            <img src="resim3.jpg" alt="Üye 3">
            <h2>İsim Soyisim</h2>
            <p>Ünvanı</p>
        </div>
        <div class="uye">
            <img src="resim4.jpg" alt="Üye 4">
            <h2>İsim Soyisim</h2>
            <p>Ünvanı</p>
        </div>
    </div>
</div>
<br />
<br />